[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
discord-logging = {git = "https://github.com/Watchful1/DiscordLogging.git"}
sqlalchemy = "*"
prometheus-client = "*"
requests = "*"
praw-wrapper = {editable = true, git = "https://github.com/Watchful1/PrawWrapper.git"}

[requires]
